.managers {
    background-color: var(--color-light);
}
.managers-heading {
    color: var(--color-dark);
    text-align: center;
}

.managers-cards {
    margin-top: 2rem;
    display: flex;
    justify-content: space-evenly;
}

.managers-card {
    width: 30%;
    text-align: center;
}

.managers-card-image {
    aspect-ratio: 1/1;
}

.managers-card-image > img {
    -moz-box-shadow:0 0 30px var(--color-dark);
    -webkit-box-shadow:0 0 30px var(--color-dark);
    box-shadow:0 0 30px var(--color-dark);
}


.managers-card-name {
    margin-top: 1rem;
    color: var(--color-dark);
    font-weight: 700;
    font-size: 1.5rem;
}

.managers-card-about {
    margin-top: 0.5rem;
    color: var(--color-dark);
    font-size: 1.2rem;
}

@media (max-width: 560px) {
    .managers-cards {
        flex-direction: column;
        gap: 2rem;
        justify-content: center;
    }

    .managers-card {
        width: 50%;
        margin-left: auto;
        margin-right: auto;
    }
}

@media (max-width: 400px) {
    .managers-card {
        width: 80%;
    }
}